{% extends 'staff_base.html' %}

{% block title %}
Staff profile
{% endblock title %}

{% block content %}
         <div class="cards">
            <div class="single-card">
               <div>
                  <span>EARNINGS (MONTHLY)</span>
                  <h2>$40,000</h2>
               </div>
               <i class="uil uil-calender"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>EARNINGS (ANNUAL)</span>
                  <h2>$215,000</h2>
               </div>
               <i class="uil uil-dollar-sign-alt"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>Weekly Sales</span>
                  <h2>$47k</h2>
               </div>
               <i class="uil uil-chart-bar"></i>
            </div>
            <div class="single-card">
               <div>
                  <span>PENDING REQUESTS</span>
                  <h2>18</h2>
               </div>
               <i class="uil uil-comments"></i>
            </div>
         </div>


         <div class="wrapper flex">
            <div class="projects">
               <div class="card-header flex">
                  <h3>Recents Projects</h3>
                  <button>See all <i class="uil uil-angle-right"></i></button>
               </div>

               <table>
                  <thead>
                     <th>
                        <tr>
                           <td>Project Title</td>
                           <td>Department</td>
                           <td>Status</td>
                        </tr>
                     </th>
                  </thead>

                  <tbody>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status review"></span>review
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status progress"></span>progress
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status pending"></span>pending
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status review"></span>review
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status progress"></span>progress
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status pending"></span>pending
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status review"></span>review
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status progress"></span>progress
                        </td>
                     </tr>
                     <tr>
                        <td>UI/UX Designer</td>
                        <td>UI Team</td>
                        <td class="status-box">
                           <span class="status pending"></span>pending
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <div class="customers">
               <div class="card-header flex">
                  <h3>New Customers</h3>
                  <button>See all <i class="uil uil-angle-right"></i></button>
               </div>

               <table>

                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
                  <tr class="flex">
                     <td class="flex">
                        <img src="images/user.jpeg" width="30px" height="30px" alt="">
                        <div>
                           <h5>Naseem Khan</h5>
                           <small>CEO Expert</small>
                        </div>
                     </td>

                     <td>
                        <i class="uil uil-user-circle"></i>
                        <i class="uil uil-calender"></i>
                        <i class="uil uil-phone-alt"></i>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
{% endblock content %}