{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock title %}

{% block content %}
<body class="homebody">
<div class="holder1">
    <h1 class="welcome1 absolute text-5xl text-black top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">Welcome to
        One Salon!</h1>
    <div class="grid-container con1div">
        <div class="grid-item"><img src="../../static/media/images/home/salon%20home%20page.jpg" alt=""></div>
        <div class="grid-item">
            <h2>The upgraded Salon experience</h2>
            <p>At One Salon, you do not need to worry about booking ever again! Additionally, we provide a one-stop
                platform to suit all your hair needs.</p>
        </div>
    </div>
</div>
</body>
{% endblock content %}
