{% extends "productbase.html" %}
{% block title %}Create Inventory - ID: {{ prdid }}{% endblock %}
{% block content %}<h1 class="display-4 uptitel">Inventory</h1>{% endblock %}
{% block content2 %}
<h1 class="h2 m-3 uptitel">Create Product - ID: {{ prdid }}</h1>
<div class="formdiv1">
    <form method="POST" enctype='multipart/form-data' class="m-3 createprodform">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.product_name.label }} {{ form.product_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.product_type.label }} {{ form.product_type(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.product_price.label }} {{ form.product_price(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.product_cost.label }} {{ form.product_cost(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.product_quantity.label }} {{ form.product_quantity(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.product_description.label }} {{ form.product_description(class="form-control") }}
    </div>
    <div class="form-group">
            {{ form.product_image.label }} {{ form.product_image(class="form-control") }}
    </div>
    {{ form.submit1(class="btn btn-primary", value="Create Product", style="float: right; margin-top: 10px; margin-bottom: 20px;") }}
    </form>
</div>
{% endblock %}
