{% extends "productbase.html" %}
{% block title %}Products{% endblock %}

{% block content %}

{% if 'addItemToCart' in session %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Info</strong> {{ session.pop('addItemToCart', None) }} added to&nbsp;&nbsp;&nbsp;<a href="/cart" class="btn btn-outline-dark">cart</a>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<h1 class="display-4 uptitel">Products</h1>

{% endblock %}

{% block content2 %}
<div class="m-2 uptitel">
    <p class="h2">Categories</p>
</div>

<div class="grid-container productSpecificForProduct">

    {% for product in products_list if product.get_product_id() == id %}
    <div class="grid-item">
        <!--Product image (Clickable link)-->

        <img src="../../static/media/images/product/{{ product.get_product_image() }}" alt="Image of product with ID: {{ product.get_product_id() }}">


    </div>

    <div class="grid-item">
        <ul>
            <!--Product name-->
            <li class="psfpli2">{{ product.get_product_name() }}</li>

            <!--Product price-->
            <li class="psfpli2">${{ "%.2f"|format(product.get_product_price()) }}</li>

            <!--Product rating-->
            <li class="psfpli2">5/5 (Temp rating)</li>

            <!--Product description-->
            <li class="psfpli">{{ product.get_product_description() }}</li>

            <!--Product quantity-->
            <li class="psfpli">Quantity: {{ product.get_product_quantity() }}</li>

        </ul>

        <div class="pbtnset">
            <!--        submit-->
            <a href="{{url_for('productr.productOrder', id=product.get_product_id())}}" class="btn btn-primary btnpbtnse">Buy</a>
        </div>

<!--            <form action="{{url_for('productr.productOrder', id=product.get_product_id())}}" method="POST">-->
<!--                <input type="submit" value="Buy" class="btn btn-primary btnpbtnse">-->
<!--            </form>-->

        <!--        add to cart-->
            <form action="{{url_for('productr.addToCart', id=product.get_product_id())}}" method="POST">
                <input type="submit" value="Add to cart" class="btn btn-primary btnpbtnse">
            </form>

    </div>
    {% endfor %}


    <!--    These 2 may be removable, can use for loop and what not. see grid is already -->
    <!--    in rows of 3. https://www.w3schools.com/css/css_grid.asp -->
    <!--    Note: can write html code, then append the html code into this file-->

</div>
<br>
<div class="productsrow">
    <div></div>
    <div></div>
    <div></div>
</div>

{% endblock %}