{% extends "productbase.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<h1 class="display-4">Products</h1>
{% endblock %}

{% block secondarytitle %}
<div class="m-2">
    <p class="h2">Categories</p>
</div>

<div class="grid-container productsrow">

    {% for product in products_list %}
    <div class="grid-item">
        <!--Product image (Clickable link)-->
        <a href="">
            <img src="" alt="">
        </a>

        <ul>
            <!--Product name-->
            <li>{{ product.get_product_name() }}</li>

            <!--Product price-->
            <li>${{ product.get_product_price() }}</li>

            <!--Product rating-->
            <li>5/5 (Temp rating)</li>

            <!--Product quantity-->
            <li>{{ product.get_product_quantity() }}</li>

        </ul>

    </div>
    {% endfor %}

<!--    These 2 may be removable, can use for loop and what not. see grid is already -->
<!--    in rows of 3. https://www.w3schools.com/css/css_grid.asp -->
<!--    Note: can write html code, then append the html code into this file-->

</div>
<br>
<div class="productsrow">
    <div></div>
    <div></div>
    <div></div>
</div>


{% endblock %}