{% extends "productbase.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<h1 class="display-4 uptitel">Products</h1>
{% endblock %}

{% block secondarytitle %}
<div class="m-2 uptitel">
    <p class="h2">Categories</p>
</div>

<div class="grid-container productsrow">

    {% for product in products_list %}
    <div class="grid-item">
        <div class="insideproductsrow">
            <!--Product image (Clickable link)-->
            <a href="/products/{{product.get_product_id()}}">
                <img src="" alt="">
            </a>

            <ul>
                <!--Product name-->
                <li class="h5" style="width: 80%; margin-left: auto; margin-right: auto;">{{ product.get_product_name() }}</li>

                <!--Product price-->
                <li>${{ "%.2f"|format(product.get_product_price()) }}</li>

                <!--Product rating-->
                <li>Rating: 5/5 (Temp rating)</li>

                <!--Product quantity-->
                <li>Quantity: {{ product.get_product_quantity() }}</li>

            </ul>
        </div>


    </div>
    {% endfor %}

    <!--    These 2 may be removable, can use for loop and what not. see grid is already -->
    <!--    in rows of 3. https://www.w3schools.com/css/css_grid.asp -->
    <!--    Note: can write html code, then append the html code into this file-->

</div>
<br>
<div class="productsrow">
    <div></div>
    <div></div>
    <div></div>
</div>


{% endblock %}