{% extends "Services/servicebase.html.html" %}
{% block title %}Create Inventory{% endblock %}
{% block content2 %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="h2 m-3">Create Services</h1>
<div class="formdiv1">
    <form method="POST" action="" class="m-3 createservicesform">
    <div class="form-group">
        {{ render_field(form.service_name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_type, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_price, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_cost, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_quantity, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_price_range, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_description, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_id, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.service_image, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" style="float: right; margin-top: 10px; margin-bottom: 20px;"/>
</form>
</div>

{% endblock %}
