{% extends"Services/servicebase.html" %}
{% block title %}Hair Wash{% endblock %}

{% block content %}
<h1 class="display-4">Hair Wash</h1>
{% endblock %}

{% block secondarytitle %}
<div class="m-2">
    <p class="h2">Hair Wash</p>
</div>
{% endblock %}
<img src="{{url_for('static', filename='haircut.png')}}" align="middle"/>
<p class="hairwash_h5">Choose from the many hair dressers available in the salon to provide you a service</p>
<div class="grid-items">
        <div class="insideservicerow">
            <a href="/Services/haircut.html">
                <img src=".../.../static/media/images/Service/haircut.png">
            </a>

                <p class="h5" style="width: 80%; margin-left: auto; margin-right: auto;"> Hairwash by James</p>

    </div>
</div>


