{% extends"Services/servicebase.html" %}
{% block title %}Hairstyling{% endblock %}

{% block content %}
<h1 class="display-4">Hairstyling</h1>
{% endblock %}

{% block secondarytitle %}
<div class="m-2">
    <p class="h2">Hairstyling</p>
</div>
<table class="table table-striped">
        <thead>
        <th>Service</th>
        <th>Description</th>
        <th>Duration of Service</th>
        <th>Appointment Booking</th>
        </thead>
        <tbody>
        <td>Men-Hair Cut + Hairstyling </td>
        <td>Enjoy a relaxing hair cut and hairstyling session with your hairstylist</td>
        <td>1h</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Men-Basic Hairstyling</td>
        <td>In a hurry? want a quick hair cut? Enjoy a quick 30 mins hair cut our very own skilled and professional hairdressers!</td>
        <td>30-40 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Men-Hair Cut + Hair Wash + Hair Styling</td>
        <td>Suitable for customers who are attending special occasions. Get your hair cut, hair washed and styled by our hairstylist!</td>
        <td>1h 15 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>

     <tbody>
        <td>Women-Hair Wash+ HairStyling </td>
        <td>Enjoy a relaxing hairwash and hairstyling</td>
        <td>2h</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Women-Basic Hairstyling</td>
        <td>Suitable for those attending events and wants to get their hair styled</td>
        <td>1h</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Women-Hair Cut + Hair Wash + Hair Styling</td>
        <td>Suitable for customers who are attending special occasions. Get your hair cut, hair washed and styled by our hairstylist!</td>
        <td>2h 30 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>

    </table>

    {% endblock %}
