{% extends"Services/servicebase.html" %}
{% block title %}Hair Wash{% endblock %}

{% block content %}
<h1 class="display-4">Hair Wash</h1>
{% endblock %}

{% block secondarytitle %}
<div class="m-2">
    <p class="h2">Hair Wash</p>
</div>
<p class="hairwash_h5">Choose from the many hair dressers available in the salon to provide you a service</p>
<div class="grid-items">
    <table class="table table-striped">
        <thead>
        <th>Hair Dresser</th>
        <th>Service</th>
        <th>Description</th>
        <th>Duration of Service</th>
        <th>Appointment Booking</th>
        </thead>
        <tbody>
        <td>Mark</td>
        <td>Hair Wash+Head Massage</td>
        <td>Enjoy a relaxing hairwash and head Massage to unwind</td>
        <td>1h 30 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Mark</td>
        <td>Basic Hair Wash</td>
        <td>In a hurry? want a quick hairwash? Enjoy a quick 15-20 min hair wash our very own skilled and professional hairdressers!</td>
        <td>15-20 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Mark</td>
        <td>Hair Wash + Hair Styling</td>
        <td></td>
        </tbody>

    </table>

    </div>
{% endblock %}


<p class="hairwash_h5">Choose from the many hair dressers available in the salon to provide you a service</p>
<div class="grid-items">
    <table>
        <thead>
        <th>Hair Dresser</th>
        <th>Service</th>
        <th>Duration of Service</th>
        <th>Appointment Booking</th>
        </thead>
    </table>

    </div>
</div>


