{% extends"Services/servicebase.html" %}
{% block title %}Haircut{% endblock %}

{% block content %}
<h1 class="display-4">Hair Cut</h1>
{% endblock %}

{% block secondarytitle %}
<div class="m-2">
    <p class="h2">Hair Cut</p>
</div>
 <table class="table table-striped">
        <thead>
        <th>Service</th>
        <th>Description</th>
        <th>Duration of Service</th>
        <th>Appointment Booking</th>
        </thead>
        <tbody>
        <td>Men-Hair Cut + Hair Wash </td>
        <td>Enjoy a relaxing hairwash and hairCut</td>
        <td>1h 30 min</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Men-Basic Hair Cut</td>
        <td>In a hurry? want a quick hair cut? Enjoy a quick 15-20 min hair cut our very own skilled and professional hairdressers!</td>
        <td>30-40 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Men-Hair Cut + Hair Wash + Hair Styling</td>
        <td>Suitable for customers who are attending special occasions. Get your hair cut, hair washed and styled by our hairstylist!</td>
        <td>1h 30 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>

     <tbody>
        <td>Women-Hair Cut + Hair Wash </td>
        <td>Enjoy a relaxing hairwash and hairCut</td>
        <td>1h 45 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Women-Basic Hair Cut</td>
        <td>In a hurry? want a quick hair cut? Enjoy a quick 15-20 min hair cut our very own skilled and professional hairdressers!</td>
        <td>30-40 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Women-Hair Cut + Hair Wash + Hair Styling</td>
        <td>Suitable for customers who are attending special occasions. Get your hair cut, hair washed and styled by our hairstylist!</td>
        <td>2h</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>

    </table>

    {% endblock %}

