{% extends"Services/servicebase.html" %}
{% block title %}Hair Dyeing{% endblock %}

{% block content %}
<h1 class="display-4">Hair Dyeing Services</h1>
{% endblock %}

{% block secondarytitle %}
<div class="m-2">
    <p class="h2">Hair Dyeing</p>
</div>
<table class="table table-striped">
        <thead>
        <th>Service</th>
        <th>Description</th>
        <th>Duration of Service</th>
        <th>Appointment Booking</th>
        </thead>
        <tbody>
        <td>Men-Hair Cut + Hair color </td>
        <td>Get your hair cut and colored!Leave the salon in style!</td>
        <td>2h</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>
        <tbody>
        <td>Men-All in one Package</td>
        <td>Suitable for customers who are looking to get and all in one treatment plan. Get your hair cut, washed, colored and styled by our hairstylist!</td>
        <td>2h 30 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>

     <tbody>
        <td>Women-Hair Cut+ Hair Color </td>
        <td>Get a hair cut and color your hair all in one session!</td>
        <td>2h 30 Mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>

        <tbody>
        <td>Women-All In one Package</td>
        <td>Suitable for customers who are looking to get an all in one experience. Get your hair cut, washed , colored and styled by our hairstylist!</td>
        <td>3h 30 mins</td>
        <td><a href="/Services/addNewServiceform" class="btn btn-warning">Book Appointment</a></td>
        </tbody>

    </table>
     {% endblock %}
