{% extends "/Services/servicebase.html" %}
{% block title %}Appointment retrieval - Retrieve Appointment{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Users</h1>
<div>
    <div>
        {% if count == 0 %}
        <p>There are no users.</p>
        {% elif count == 1 %}
        <p>There is 1 user.</p>
        {% else %}
        <p>There are {{ count }} users.</p>
        {% endif %}
    </div
    <table class="table table-striped">
        <thead>
        <tr>
            <th>service</th>
            <th>hairstylist</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for service in apppt_list %}
        <tr>
            <td>{{ service.get_service()}}</td>
            <td>{{ service.get_hairstylist()}}</td>
            <td>{{service.get_appointment_date()}}</td>
            <td>{{service.get_appointment_time()}}</td>
            <td><a href="/addNewServiceform{{Service.get_hairstylist}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Fellow</td>
            <td></td>
            <td><a href="#" class="btn btn-warning">Update</a></td>
            <td>
                <form action={{url_for('appointment.deleteappointment', id=AddNewService.get_membership_ID())}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
