{% extends "base.html" %}
{% block title %}Hair Salon Booking system - Retrieve appointment{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Appointments</h1>
<div>
    <div>
        {% if count == 0 %}
        <p>There are no users.</p>
        {% elif count == 1 %}
        <p>There is 1 user.</p>
        {% else %}
        <p>There are {{ count }} users.</p>
        {% endif %}
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Membership</th>
            <th>Remarks</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointment_list %}
        <tr>
            <td>{{ user.get_user_id() }}</td>
            <td>{{ user.get_first_name() }}</td>
            <td>{{ user.get_last_name() }}</td>
            <td>{{ user.get_service() }}</td>
            {% if user.get_membership() == "F" %}
            <td>Fellow</td>
            {% elif user.get_membership() == "S" %}
            <td>Senior</td>
            {% elif user.get_membership() == "P" %}
            <td>Professional</td>
            {% endif %}
            <td>{{ user.get_remarks() }}</td>
            <td><a href="#" class="btn btn-warning">Update</a></td>
            <td>
                <form action="" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Fellow</td>
            <td></td>
            <td><a href="#" class="btn btn-warning">Update</a></td>
            <td>
                <form action="" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
