{% extends "/Services/servicebase.html" %}
{% block title %}Appointment retrieval - Retrieve Appointment{% endblock %}
{%block content %}
<h1 class="display-4">Retrieve Appointment</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            <form action="" method="GET">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
