{% extends"Services/servicebase.html" %}
{% block title %}Services{% endblock %}

{% block content %}
<h1 class="h1">Services</h1>
{% endblock %}

{% block secondarytitle %}

<div class="grid-container_services_home">
    <div class="grid-items">
        <div class="insideservicerow">
            <a href="/Services/haircut.html">
                <img src="static/media/images/Service/haircut.png">
            </a>

                <p class="h5" style="width: 80%; margin-left: auto; margin-right: auto;"> Hair Cut</p>

    </div>
        <div class="insideservicerow">
            <a href="/Services/hairwash.html">
                <img src="static/media/images/Service/hairwash.png">
            </a>

                    <p class="h5"style="width: 80%; margin-left: auto; margin-right: auto;">Hairwash</p>


        </div>
        <div class="insideservicerow">
            <a href="/Services/hairstyling.html">
                <img src="static/media/images/Service/hairstyling.png">
            </a>

                <p class="h5" style="width: 80%; margin-left: auto; margin-right: auto;">Hairstyling</p>


        </div>
        <div class="insideservicerow">
            <a href="/Services/hairdye.html">
                <img src="static/media/images/Service/hairdye.png">
            </a>

                <p class="h5" style="width: 80%; margin-left: auto; margin-right: auto;">Hairdye</li>

        </div>
{% endblock %}
