<!-- Category bar -->
<nav class="navbar navbar-expand-sm navbar-dark catbar" style="background-color: #212121;">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Products</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/products">All products</a></li>
                        <li><a class="dropdown-item" href="#">Shampoos</a></li>
                        <li><a class="dropdown-item" href="#">Hair products</a></li>
                        <li><a class="dropdown-item" href="#">Shaving products</a></li>
                        <li><a class="dropdown-item" href="#">Others</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cart</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">View cart</a></li>
                        <li><a class="dropdown-item" href="#">Checkout</a></li>
                    </ul>
                </li>

<!--                add if staff login then accessible by staff-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Inventory</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/inventory">View Inventory</a></li>
                        <li><a class="dropdown-item" href="/createProduct">Create Product</a></li>
                    </ul>
                </li>

                <!-- Navbar dropdown -->
                <!--                <li class="nav-item dropdown">-->
                <!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>-->
                <!--                    &lt;!&ndash; Dropdown menu &ndash;&gt;-->
                <!--                    <ul class="dropdown-menu">-->
                <!--                        <li><a class="dropdown-item" href="#">Link</a></li>-->
                <!--                        <li><a class="dropdown-item" href="#">Another link</a></li>-->
                <!--                        <li><a class="dropdown-item" href="#">A third link</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->

            </ul>

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>