<!-- Category bar -->
<nav class="navbar navbar-expand-sm navbar-dark catbar" style="background-color: #212121;">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active text-dark bg-light" aria-current="page" href="/">All</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Services/hairwash.html">Hairwash</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Services/haircut.html">Haircut</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Services/hairstyling.html">Hair Styling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Services/hairdye.html">Hairdye</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Services/addNewServiceform">Book Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Services/updateServices">Update services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Services/retrieveAppointment">Retrieve Appointmet</a>
                </li>


                <!-- Navbar dropdown -->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>-->
<!--                    &lt;!&ndash; Dropdown menu &ndash;&gt;-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="dropdown-item" href="#">Link</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Another link</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">A third link</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

            </ul>

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
