/*Link to roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

/*CSS Variables*/
:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-poppins);
    font-weight: 300;
}

/* Category bar styling */
.addstylecatbar {
    background-color: #000000;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.addstylecatbar li {
    padding-right: 40px;
}

.catbar {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.catbar li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.productitems2343 {
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.productitems2343 th {
    color: white;
    background-color: #212121;
}

.productitems2343.tarow1first {
    border-radius: 10px;
}


.formdiv1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.createprodform {
    font-size: 20px;
}

.createprodform div {
    margin-bottom: 20px;
}

/*Products main page (Show all products)*/
.productsrow img {
    height: 230px;
    width: 230px;
}

.productsrow ul {
    list-style-type: none;
    padding: 10px;
}

.productsrow.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.insideproductsrow {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*Specific products page*/
.productSpecificForProduct.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
}

.productSpecificForProduct {
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-poppins);
    background: rgba(15, 15, 15, 0.8);
    padding: 30px;
    border-radius: 10px;
}

.productSpecificForProduct img {
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.productSpecificForProduct ul {
    list-style: none;
}

.productSpecificForProduct li {
    margin: 10px;
}

.psfpli {
    font-size: 1.2rem;
}

.psfpli2 {
    font-size: 2rem;
}

.productSpecificForProduct.pbtnset form {
    width: 50px;
}

.productSpecificForProduct.pbtnset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Second header alignment*/
.uptitel {
    text-align: center;
    margin: 20px;
}

/*Add new button styling*/
.addnewbutn {
    text-decoration: none;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.addnewbutn:hover {
    color: black;
    background-color: #ffcf32;
    font-weight: normal;
}

.btnpbtnse {
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    font-size: 17px;
}

.productSpecificForProduct.psfpimg img {
    height: 220px;
    width: 220px;
}

/*Payment page*/
/*Payment page display product*/
.paymentDisplayProduct {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.paymentDisplayProduct img {
    width: 200px;
    height: 200px;
}

.paymentDisplayProduct div {
    margin-left: auto;
    margin-right: auto;
}

.paymentDisplayProduct ul {
    list-style-type: none;
}

table {
    background-color: #fff9e4;
}

form {
    border-radius: 10px;
}

.changecolorwhite {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.insideproductsrow img, .productSpecificForProduct img, .paymentDisplayProduct img {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
