{% extends "reviews/reviewsbase.html" %}
{% block title %}All Service Reviews{% endblock %}
{% block content %}<h1 class="display-4"></h1>{% endblock %}
{% block content2 %}
<div class="m-2">

    <div class="secondheader"><a href="#"></a></div>

    <!--    Conditions-->
    <div>
        {% if count == 0 %}
        <p>There are no reviews.</p>
        {% elif count == 1 %}
        <p>There is 1 review.</p>
        {% else %}
        <p>There are {{ count }} reviews.</p>
        {% endif %}
    </div>

    <div>
        Click <a href="/createServiceReview">here</a> to create a service review.
    </div>

    <!--    product filters & create review-->
    <div class="container">
        <div class="row">
            <div class="col-md service-filters">
                <button type="button" class="btn btn-outline-dark"><a href="/serviceReviews">All</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/service1Reviews">Hair Cut / Hair Wash</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/service2Reviews">Hair Styling</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/service3Reviews">Hair Dye</a></button>
            </div>

            <div class="col-md stylist-selection">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stylist
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/stylist1Reviews">Stylist 1</a>
                        <a class="dropdown-item" href="stylist2Reviews">Stylist 2</a>
                        <a class="dropdown-item" href="stylist3Reviews">Stylist 3</a>
                    </div>
                </div>
            </div>

            <div class="col-md create-service-review-button">
                <button type="button" class="btn btn-outline-dark"><a href="/createServiceReview">Create A Review</a>
                </button>
            </div>
        </div>
    </div>

    <br>

    <!--    Table to display all product reviews-->
    <div class="service_reviews">
        <table class="table table-striped">

            <thead>
            <tr class="tarow1first">
                <th style="font-size: 150%;">{{ count }} Service Reviews</th>
            </tr>
            </thead>

            <tbody>
            {% for service3_review in service3_reviews_list|reverse %}
            <tr>
                <td>
                    <p><b>User: </b>{{ service3_review.get_user_name() }}</p> <br>
                    <p><b>Service Selected: </b>{{ service3_review.get_service_selection() }}</p> <br>
                    <p><b>Your Stylist: </b>{{ service3_review.get_stylist_selection() }}</p> <br>
                    <p><b>Rating: </b> {{ service3_review.get_service_rating() }} </p> <br>
                    <p><b>Image </b> <br>

                        {{ service3_review.get_service_image() }}

                    <p style="width: 100px; height: 100px; padding: 5px"><img
                            src="../../static/media/images/reviews/service_reviews/{{ service3_review.get_service_image() }}"
                            style="height: 90px; width: 90px; border-radius: 5px;"></p>
                    <p><b>Video </b> {{ service3_review.get_service_video() }} </p> <br>
                    <p><b>Comment </b> {{ service3_review.get_service_comment() }} </p> <br>
                    <p><b>Unique ID </b> {{ service3_review.get_service_id() }} </p> <br>


                </td>
                <td>
                    <form action="{{url_for('review.deleteServiceReview', id=service3_review.get_user_id(), pid=service3_review.get_service_id())}}"
                          method="POST">
                        <input type="submit" value="X" class="btn btn-danger">
                    </form>
                </td>


            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}