{% extends "reviews/reviewsbase.html" %}
{% block title %}All Service Reviews{% endblock %}
{% block content %}<h1 class="display-4"></h1>{% endblock %}
{% block content2 %}
<div class="m-2">

    <div class="secondheader"><a href="#"></a></div>

    <!--    Conditions-->
    <div>
        {% if count == 0 %}
        <p>There are no reviews.</p>
        {% elif count == 1 %}
        <p>There is 1 review.</p>
        {% else %}
        <p>There are {{ count }} reviews.</p>
        {% endif %}
    </div>

    <!--    Table to display all product reviews-->
    <div class="service_reviews">
        <table class="table table-striped">

            <thead>
             <tr class="tarow1first">
                <th style="font-size: 150%;">Service Ratings</th>
            </tr>
            </thead>

            <tbody>
            {% for service_review in service_reviews_list %}
            <tr>
                <td>
                    <p><b>Service Selected: </b>{{ service_review.get_service_selection() }}</p> <br>
                    <p><b>Rating: </b> {{ service_review.get_service_rating() }} </p> <br>
                    <p><b>Image </b> <br>

                    {{ service_review.get_service_image() }}

                    <p style="width: 100px; height: 100px; padding: 5px"><img
                            src="../../static/media/images/reviews/service_reviews/{{ service_review.get_service_image() }}"
                            style="height: 90px; width: 90px; border-radius: 5px;"></p>
                    <p><b>Video </b> {{ service_review.get_service_video() }} </p> <br>
                     <p><b>Comment </b> {{ service_review.get_service_comment() }} </p> <br>
                    <p><b>Unique ID </b> {{ service_review.get_service_id() }} </p> <br>


                </td>
                <td>
                    <form action="{{url_for('review.deleteServiceReview', id=service_review.get_service_id())}}"
                          method="POST">
                        <input type="submit" value="X" class="btn btn-danger">
                    </form>
                </td>


            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}