{% extends "reviews/reviewsbase.html" %}
{% block title %}All Service Reviews{% endblock %}
{% block content %}<h1 class="display-4"></h1>{% endblock %}
{% block content2 %}
<div class="m-2">

    <div class="secondheader"><a href="#"></a></div>

    <!--    Conditions-->
    <div>
        {% if count == 0 %}
        <p>There are no reviews.</p>
        {% elif count == 1 %}
        <p>There is 1 review.</p>
        {% else %}
        <p>There are {{ count }} reviews.</p>
        {% endif %}
    </div>

    <!--    Table to display all product reviews-->
    <div class="service_reviews">
        <table class="table table-striped">

            <thead>
            <tr class="tarow1first">
                <th>Service</th>
                <th style="width: 300px;">Image</th>
                <th style="width: 300px;">Video</th>
                <th style="width: 100px;">Rating</th>
                <th style="width: 400px;">Comment</th>
            </tr>
            </thead>

            <tbody>
            {% for service_review in service_reviews_list %}
            <tr>
                <td style="width: 100px; height: 100px; padding: 5px">{{ service_review.get_service_image() }}</td>
                <td>{{ service_review.get_service_selection() }}</td>
                <td>{{ service_review.get_service_image() }}</td>
                <td>{{ service_review.get_service_video() }}</td>
                <td>{{ service_review.get_service_rating() }}</td>
                <td>{{ service_review.get_service_comment() }}</td>



            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}