{% extends "staff_base.html" %}
{% block title %}Product Reviews{% endblock title %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript"
        src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        rel="stylesheet"
/>
{% endblock %}


<h1 class="display-4 uptitel">Product Reviews</h1>

{% block content2 %}




<div class="m-2">

    <div class="secondheader"><a href="#"></a></div>

    <br>

<!--    product filters & create review-->
    <div class="container">
        <div class="row">
            <div class="col-md col-1">
                <button type="button" class="btn btn-outline-dark"><a href="/productReviews">All</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/product1Reviews">Product 1</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/product2Reviews">Product 2</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/product3Reviews">Product 3</a></button>
            </div>
            <div class="col-md create-product-review-button">
                <button type="button" class="btn btn-outline-dark"><a href="/createProductReview">Create A Review</a>
                </button>
            </div>
        </div>
    </div>

    <br> <br>

    <h2>All Product Reviews</h2>

    <br>

    <!--    Table to display all product reviews-->
    <div class="product_reviews">
        <table class="table table-striped">

            <!-- Conditions for count -->
            <thead>
            <tr class="tarow1first">
                {% if count == 0 %}
                <th style="font-size: 150%;">{{ count }} Reviews</th>
                {% elif count == 1 %}
                <th style="font-size: 150%;">{{ count }} Review</th>
                {% else %}
                <th style="font-size: 150%;">{{ count }} Reviews</th>
                {% endif %}


            </tr>
            </thead>

            <tbody>
            {% for staff_product_review in staff_product_reviews_list|reverse %}
            <tr>
                <td>
                    <p><b>User:</b> {{ staff_product_review.get_user_name() }}</p>  <br>
                    <p><b>Product: </b> {{ staff_product_review.get_product_selection() }}</p>
                    <p><b>Rating: </b> {{ staff_product_review.get_product_rating() }} </p> <br>
                    <p><b>Comment </b> {{ staff_product_review.get_product_comment() }} </p> <br>
                    <p><b>Image </b> <br>

                    {% if staff_product_review.get_product_selection() == 'Product 1' %}
                    <p style="width: 200px; height: 200px; padding: 5px"><img
                            src="../../static/media/images/reviews/product_reviews/oil.webp"
                            style="height: 200px; width: 200px; border-radius: 5px;"></p>
                    {% elif staff_product_review.get_product_selection() == 'Product 2' %}
                    <p style="width: 200px; height: 200px; padding: 5px"><img
                            src="../../static/media/images/reviews/product_reviews/shampoo.webp"
                            style="height: 200px; width: 200px; border-radius: 5px;"></p>
                    {% elif staff_product_review.get_product_selection() == 'Product 3' %}
                    <p style="width: 200px; height: 200px; padding: 5px"><img
                            src="../../static/media/images/reviews/product_reviews/hairspray.jfif"
                            style="height: 200px; width: 200px; border-radius: 5px;"></p>
                    {% endif %}

                    <p><b>Video </b> {{ staff_product_review.get_product_video() }} </p> <br>
                    <p><b>Unique ID </b> {{ staff_product_review.get_product_id() }} </p> <br>


                </td>

            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}