{% extends "reviews/reviewsbase.html" %}
{% block title %}All Service Reviews{% endblock %}
{% block content %}<h1 class="display-4"></h1>{% endblock %}
{% block content2 %}

<!--alerts-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% endfor %}
{% endif %}
{% endwith %}

<div class="m-2">

    <div class="secondheader"><a href="#"></a></div>

    <!--    Conditions-->
    <div>
        {% if count == 0 %}
        <p>There are no reviews.</p>
        {% elif count == 1 %}
        <p>There is 1 review.</p>
        {% else %}
        <p>There are {{ count }} reviews.</p>
        {% endif %}
    </div>

    <div>
        Click <a href="/createServiceReview">here</a> to create a service review.
    </div>

    <!--    product filters & create review-->
    <div class="container">
        <div class="row">
            <div class="col-md service-filters">
                <button type="button" class="btn btn-outline-dark"><a href="/serviceReviews">All</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/service1Reviews">Hair Cut</a>
                </button>
                <button type="button" class="btn btn-outline-dark"><a href="/service2Reviews">Hair Styling</a></button>
                <button type="button" class="btn btn-outline-dark"><a href="/service3Reviews">Hair Dye</a></button>
            </div>
            <div class="col-md stylist-selection">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stylist
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/stylist1Reviews">Stylist 1</a>
                        <a class="dropdown-item" href="stylist2Reviews">Stylist 2</a>
                        <a class="dropdown-item" href="stylist3Reviews">Stylist 3</a>
                    </div>
                </div>
            </div>
            <div class="col-md create-service-review-button">
                <button type="button" class="btn btn-outline-dark"><a href="/createServiceReview">Create A Review</a>
                </button>
            </div>
        </div>
    </div>

    <br>

    <!--    Table to display all product reviews-->
    <div class="service_reviews">
        <table class="table table-striped">

            <thead>
            <tr class="tarow1first">
                <th style="font-size: 150%;">{{ count }} Service Reviews</th>
            </tr>
            </thead>

            <tbody>
            {% for stylist1_review in stylist1_reviews_list|reverse %}
            <tr>
                <td>
                    <p><b>User: </b>{{ stylist1_review.get_user_name() }}</p> <br>
                    <p><b>Service Selected: </b>{{ stylist1_review.get_service_selection() }}</p> <br>
                    <p><b>Your Stylist: </b>{{ stylist1_review.get_stylist_selection() }}</p> <br>
                    <p><b>Rating: </b> {{ stylist1_review.get_service_rating() }} </p> <br>
                    <p><b>Image </b> <br>

                     {% if stylist1_review.get_service_selection() == 'Hair Cut' %}
                    <p style="width: 200px; height: 200px; padding: 5px"><img
                            src="../../static/media/images/reviews/service_reviews/haircut.jpg"
                            style="height: 200px; width: 200px; border-radius: 5px;"></p>
                    {% elif stylist1_review.get_service_selection() == 'Hair Styling' %}
                    <p style="width: 200px; height: 200px; padding: 5px"><img
                            src="../../static/media/images/reviews/service_reviews/hairstyling.jpg"
                            style="height: 200px; width: 200px; border-radius: 5px;"></p>
                    {% elif stylist1_review.get_service_selection() == 'Hair Dye' %}
                    <p style="width: 200px; height: 200px; padding: 5px"><img
                            src="../../static/media/images/reviews/service_reviews/hairdye.webp"
                            style="height: 200px; width: 200px; border-radius: 5px;"></p>
                    {% endif %}

                    <p><b>Video </b> {{ stylist1_review.get_service_video() }} </p> <br>
                    <p><b>Comment </b> {{ stylist1_review.get_service_comment() }} </p> <br>
                    <p><b>Unique ID </b> {{ stylist1_review.get_service_id() }} </p> <br>


                </td>
                <td>
                    <form action="{{url_for('review.deleteServiceReview', id=stylist1_review.get_user_id(), pid=stylist1_review.get_service_id())}}"
                          method="POST">
                        <input type="submit" value="X" class="btn btn-danger">
                    </form>
                </td>


            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}