{% extends 'base.html' %}

{% block title %}
Avatar Customisation Page
{% endblock title %}

{% block content %}
<style>

</style>

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm">
            {% for avatar in avatar_list %}
               <img src="{{ avatar.image }}" width="300" height="400">
                <form method="POST">
                    <input type="submit" name="delete" value="delete">
                </form>
            {% endfor %}
        </div>

        <div class="col-sm">
            <form method="POST">
                <input type="submit" name="next" value="hairstyles">
            </form>
            <form method="POST">
                <input type="submit" name="next" value="faceshape">
            </form>
            <form method="POST">
                <input type="submit" name="next" value="eyes">
            </form>
            <form method="POST">
                <input type="submit" name="next" value="lips">
            </form>
            <form method="POST">
                <input type="submit" name="save" value="save">
            </form>
        </div>
        <div class="col-lg">
            <div>
                <h1>Preview: </h1>
                <img src="{{ preview.image }}" alt="image">
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
{% endblock content %}
