<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript"
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
{% extends "staff_base.html" %}

{% block title %}
Avatar Customisation Page - Staff
{% endblock title %}

{% block content %}
<style>

</style>

<html>
<head>

</head>
<body>

<h1 class="display-4">Avatar Management</h1>
<div class="container">
    <div class="row">
        <div class="col">

<!--            <table class="table table-bordered">-->
<!--                {% for asset_list in assets %}-->
<!--                <tr>-->
<!--                    {% for asset in asset_list %}-->
<!--                    <td><img src="{{ asset }}" alt="image" width="150" height="200"></td>-->
<!--                    {% endfor %}-->
<!--                    <td>-->
<!--                        <form action="" method="post" enctype="multipart/form-data">-->
<!--                            <input type="file" name="file"/>-->
<!--                            <input type="submit" name="Upload" value="Upload">-->
<!--                            <input type="hidden" name="path" value="{{ asset_list }}">-->
<!--                        </form>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <br>-->
<!--                {% endfor %}-->
<!--            </table>-->

            <table class="table table-bordered">
                <tr>
                    <td>
                        HAIRSTYLES:
                    </td>
                    {% for asset in hairstyle_assets %}
                        <td><img src="{{ asset }}" width="150" height="200"></td>
                    {% endfor %}
                    <td>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="file" name="file"/>
                            <input type="submit" name="Upload" value="hairstyles">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        FACESHAPE:
                    </td>
                    {% for asset in faceshape_assets %}
                        <td><img src="{{ asset }}" width="150" height="200"></td>
                    {% endfor %}
                    <td>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="file" name="file"/>
                            <input type="submit" name="Upload" value="faceshape">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        EYES:
                    </td>
                    {% for asset in eyes_assets %}
                        <td><img src="{{ asset }}" width="150" height="200"></td>
                    {% endfor %}
                    <td>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="file" name="file"/>
                            <input type="submit" name="Upload" value="eyes">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        LIPS:
                    </td>
                    {% for asset in lips_assets %}
                        <td><img src="{{ asset }}" width="150" height="200"></td>
                    {% endfor %}
                    <td>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="file" name="file"/>4
                            <input type="submit" name="Upload" value="lips">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>

{% endblock content %}
